[submodule "source-ja"]
	path = source-ja
	url = git://github.com/symfony-japan/symfony-docs-ja.git
[submodule "source-en"]
	path = source-en
	url = git://github.com/symfony/symfony-docs.git
[submodule "misc/sphinx-php"]
	path = misc/sphinx-php
	url = git://github.com/fabpot/sphinx-php.git
